################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/FourthCoffee.ExceptionLogger/.vs/FourthCoffee.ExceptionLogger
/FourthCoffee.ExceptionLogger/FourthCoffee.ExceptionLogger/obj/Debug
/FourthCoffee.ExceptionLogger/FourthCoffee.ExceptionLogger/bin/Debug
